* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 3, 9, 0.791);
  place-content: center;
  font-family: "Roboto", sans-serif;
  height: 90vh;
  font-size: 2rem;
  padding-left: 18vw;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: orangered;
  font-size: 3rem;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-left: 20vw;
  padding-right: 20vw;
}

.container {
  background-color: slategray;
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  height: 66vh;
  width: 66vw;
  font-size: 2rem;
}

.calculator {
  display: grid;
  height: 59.8vh;
  width: 65.8vw;
  padding-top: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.input {
  height: 52px;
  text-align: end;
  padding-top: 12px;
  padding-right: 10px;
  color: whitesmoke;
}

.calc-button-zero {
  grid-column: 1 / span 2;
  font-size: 1.5rem;
  cursor: pointer;
}

.calc-button-zero:hover {
  background-color: white;
}

.calc-button {
  font-size: 1.5rem;
  cursor: pointer;
}

.calc-button:hover {
  background-color: white;
}

.calc-button-operator {
  background-color: orange;
  cursor: pointer;
  font-size: 1.5rem;
}

.calc-button-operator:hover {
  background-color: orangered;
}
